<h1> <%= @developer.name %> </h1>

<%= link_to 'List', developers_path %>
<%= link_to 'Edit', edit_developer_path(@developer) %>
<%= link_to 'Destroy', developer_path(@developer), method: :delete, data: { confirm: 'Are you sure?' }%>
