<h1>All Players</h1>

<%= link_to 'New Player', new_player_path %>
<ul>
<% @players.each do |player| %>
  <li> <%= player.name %> <%= link_to "Show", player_path(player.id) %>  </li>
<% end %>
</ul>


<%= link_to 'Player with Most Game Sessions', '/players/most_game_sessions'%>
